@import './mySass.scss';

.foot{
  // position:absolute;
  // bottom:0;
  width: 100vw;
  height: 84px;
  margin-top:60px;
  display: flex;
  align-items:center;
  justify-content: center;
  background-color: $bgColumnColor;
  color: $textColor;
  font-family: $fFamily;
  font-size: $fSizeFooter;
  line-height: 19.5px; 
}