@import './mySass.scss';

.content{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  width:fit-content;
  min-height: calc(100vh - 265px); 
}

.imageBlock{
  display:flex;
  flex-direction: column;
  width: 300px;
  margin-right: 15px;
}

.imageBlock > div:last-child{
  margin-bottom:0;
}

.bigBlock{
  display:flex;
  flex-direction: column;
  width: 435px;
  margin-right: 15px;
}

.bigBlock > div:last-child{
  margin-bottom:0;
}

.textBlock{
  display:flex;
  flex-direction: column;
  width: 435px;
}

.textBlock > div:last-child{
  margin-bottom:0;
}