@import './mySass.scss';

.textBlocksContent {
  display:flex;
  flex-direction:column;
  height: auto;
  margin-bottom:15px;
  background-color: #000000;
}

.textSectionH3{
  font-size: $fSizeLinks;
  font-family: $fFamily;
  color: $textColor;
  word-wrap: break-word;
  text-align: left;
  line-height:30px;
  margin:15px 0 15px 15px;
  padding:0;
}

.imageTLcorner{
  display: block;
  float: left;
  width: 145px;
  height: 100px;
  margin: 0 15px 0px 15px;
}

.textArticle{
  font-size: $fSizeText;
  font-family: $fFamilyDate;
  color: $textColor;
  word-wrap: break-word;
  text-align: left;
  @include lhCrop(1.7);
  line-height:22px;
  margin:0 15px 0 15px;
}

.footerTextBlock{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:flex-start;
  height: 75px;
  background-color: $bgColumnColor;
}

.ellipse{
  max-width:45px;
  max-height:45px;
  margin:0 15px 0 15px;
  border-radius: 50%;
  border: solid 1px $markColor;
  box-sizing: border-box;
  background-color: rgb(8, 8, 8);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.textSectionT3{
  font-size: $fSizeText;
  font-family:$fFamilyDate;
  color: $textColor;
  line-height:17px;
  margin:0 15px 0 0;
  padding:0;
}

.categoryText3{
  font-size: $fSizeCategory;
  font-weight: $fWeight;
  font-family: $fFamily;
  color: $markColor;
  text-transform: uppercase;
  line-height: 17px;
  margin: 0;
  padding:0;
}